header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
  height: 150vh;
}

nav {
  justify-self: center;
  background-color: #fff;
  position: fixed;
  top: 0.5rem;
  z-index: 1000;
  border-radius: 2rem;

}

nav ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
  display: flex;
  gap:4rem;
  margin:0.2rem;
  margin-left:4rem;
  margin-right: 4rem;
}

nav ul li {
  margin:0.2rem;
  margin-right: 1rem;
}

nav ul li a {
  font-family: "Helvetica";
  font-size: 0.8rem;
  text-decoration: none;
  color: #333;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #3c1591;
  color: #fff;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 2s forwards ease-in;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#site-awwwards {
  iframe.embedded-site {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* aspecto 16:9; ajusrlo como yo quiera */
    position: relative;
  }

  iframe.embedded-site iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Análisis 1 css correspondiente del texto en columnas */
/* Contenedor general */
.analysis-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Título */
.analysis-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #111;
}

/* Texto en columnas */
.analysis-text {
  columns: 1;
  column-gap: 2rem;
  line-height: 1.6;
  font-size: 1rem;
  color: #222;
  text-align: justify;

  /* Animación CSS */
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

@media (min-width: 800px) {
  .analysis-text {
    columns: 2;
  }
}

/* Animación fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

